$mainColor:#593196;

.roomcard.MuiCard-root{
    border-radius: 15px 15px 0px 0px;
    .cardimg{
        height: 180px;
        border-radius: 15px;
    }
    .roomlink{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 20px;
        font-weight: bold;
        color: $mainColor;
        text-transform: capitalize;
    }
    .roompriceinfo{
        font-size: 20px;
        font-weight: bold;
        color:#444
    }
    .roomrating{
        color: #444;
    }
    .cardbtnlink{
        background-color: $mainColor;
    }
}